.about-me-page > .right-column-about > .photo img {
    width: 400px; 
    height: 400px;
    border-radius: 200px;
    overflow: hidden;
}

.about-me-page > .right-column-about > .about-me-text {
    width: 80%;
    text-align: justify;
    font-size: 1.4em;
    color: #cbcbcb;
}

.about-me-page {
    height: calc(100vh - 160px);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-column-about {
    background-image: url(../../images/background-hp.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-one {
    padding: 1px 20px;
    background-color: #f5a43f;
    color: #0b2331;
    width: 290px;
    text-align: center;
}

.right-column-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #0b2331;
}